appVersion: latest
image:
  app: ghcr.io/preparingforexams/telegram-transcription-bot
postgres:
  database: transbot
  user: prep-transbot.transbot
  service: born-postgres
  namespace: born-postgres
rateLimiter:
  # renovate: datasource=docker
  image: ghcr.io/preparingforexams/rate-limiter-migrations-postgres:8.1.7
  dailyRateLimit: 100
