appVersion: latest
image:
  app: ghcr.io/preparingforexams/telegram-transcription-bot
postgres:
  database: transbot
  user: prep-transbot.transbot
  service: born-postgres
  namespace: born-postgres
rateLimiter:
  # renovate: datasource=docker
  image: code.bjoernpetersen.net/bjoernpetersen/bs-rate-limiter/migrations-postgres:9.0.0
  dailyRateLimit: 100
