---
apiVersion: v1
kind: Service
metadata:
  name: bot
spec:
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: bot
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: bot
  serviceName: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      terminationGracePeriodSeconds: 120
      securityContext:
        fsGroup: 500
      volumes:
        - name: scratch
          emptyDir:
            sizeLimit: "8Gi"
      initContainers:
        - name: flyway
          image: {{ .Values.rateLimiter.image }}
          envFrom:
            - configMapRef:
                name: db-config
          env:
            - name: FLYWAY_URL
              value: jdbc:postgresql://$(DB_HOST):5432/$(DB_NAME)
            - name: FLYWAY_USER
              value: $(DB_USER)
            - name: FLYWAY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgres.user }}.{{ .Values.postgres.service }}.credentials.postgresql.acid.zalan.do
                  key: password
      containers:
        - name: app
          image: {{ .Values.image.app }}:{{ .Values.appVersion }}
          envFrom:
            - secretRef:
                name: secrets
          env:
            - name: SCRATCH_DIR
              value: /scratch
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgres.user }}.{{ .Values.postgres.service }}.credentials.postgresql.acid.zalan.do
                  key: password
          volumeMounts:
            - mountPath: /scratch
              name: scratch
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: "1"
