---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: secrets
spec:
  secretStoreRef:
    name: doppler-born
    kind: ClusterSecretStore
  target:
    name: secrets
  dataFrom:
    - find:
        path: "TRANSBOT_"
      rewrite:
        - regexp:
            source: "TRANSBOT_(.+)"
            target: "$1"
